.userContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    width: 70%;
    margin-left: 50px;
}


.wrapper {
    display: flex;
    padding: 1rem 1rem;

}

.imgAndButton {
    display: flex;
    width: 200px;
    height: 250px;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
   border: 1px solid #e1e3e3;
}
.navLink{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.photo {
    margin-top: 25px;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    padding: 5px;
    border: 3px solid #5e90f9;
}
.photo:hover{
    border: 3px solid #272930;
}

.name{
    margin-top: 15px;
    color: #2d6ff7;
    font-weight: bolder;
}
.name:hover{
    color: #272930;
}

.button {
    background-color: #2d6ff7;
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    font-weight: bolder;
    margin-top: 35px;
}
.button:hover {
    cursor: pointer;
    background-color: #656565;
}
