
.item{

}    

.item img{
  width: 50px;
  border-radius: 30px;
  margin-right: 15px;
}
.name{
  color: #2a5895;
}

.imgNameWrapper{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.like{
  padding: 7px;
  border-radius: 30px;
  background-color: #f0f2f5;
  width: 40px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.like:hover{
  cursor: pointer;
}