.app-wrapper {
    display: grid;
    grid-template-areas:'h h'
                        'n c';
    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    height: 97vh;


}

.app-wrapper-content {
    grid-area: c;
    background-color: #edeef0

}

.error-message {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}


