.dialogs{
display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItem{
padding: 10px;
}

.dialog{
    padding: 2px;

}
.dialogsItem .active{
    color: darkblue;
}
.messages{

    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
}
.message{

    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    max-width: 80%;

}
.img{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}

.inputButton {
    display: flex;
    justify-content: space-around;

}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: -50px;
    width: 300px;

}

.sendButton {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -100px;
}

.sendButton:hover {
    background: darkblue;
}