.dialogs{
display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItem{
padding: 10px;
}

.dialog{
    padding: 2px;

}
.dialogsItem .active{
    color: darkblue;
}
.messages{

    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
}
.message{

    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    max-width: 80%;

}
.img{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}